.header {
  height: 72px;
  background: #232323;
  border-bottom: 1px solid #3a3a3a;
  position: fixed;
  top: 0;
  left: 172px;
  right: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-search {
  width: 510px;
  height: 34px;
  background: #0f0f0f;
  border: 1px solid #444;
  border-radius: 999px;

  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 14px;
  color: #cfcfcf;
}

.header-search input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
}

.header-search input::placeholder {
  color: #aaa;
}

.header-avatar {
  position: absolute;
  right: 16px;

  border: none;
  background: transparent;
  color: #d8dde6;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-avatar:hover {
  color: white;
}